<h3>Project Links</h3>
<a href="https://github.com/pimbrouwers/Falco" target="_blank" class="db">Source Code</a>
<a href="https://github.com/pimbrouwers/Falco/issues" target="_blank" class="db">Issue Tracker</a>
<a href="https://github.com/pimbrouwers/Falco/discussions" target="_blank" class="db">Discussion</a>
<a href="https://twitter.com/falco_framework" target="_blank" class="db">Twitter</a>

<h3>Documents</h3>
<ul>
  <li><a href="get-started.html">Getting Started</a></li>
  <li><a href="routing.html">Routing</a></li>
  <li><a href="request.html">Accessing request data</a></li>
  <li><a href="response.html">Writing responses</a></li>
  <li><a href="markup.html">View engine</a></li>
  <li><a href="host.html">Host configuration</a></li>
  <li><a href="security.html">Security</a></li>
</ul>