<!-- hello -->
<div class="mw6 center pb5 noto tc fw4 lh-copy white">
    <h1 class="mb3 fw4 f2">Meet Falco.</h1>
    <h2 class="mt0 mb4 fw4 f4 f3-l">Falco is a toolkit for building secure, fast, functional-first and fault-tolerant web applications using F#.</h2>

    <div class="tc">
      <a href="#getting-started" target="_blank" title="Learn how to get started using Falco" class="dib mh2 mb2 ph3 pv2 merlot bg-white ba b--white br2 no-underline">Get Started</a>
      <a href="#falco" target="_blank" class="dib mh2 ph3 pv2 white ba b--white br2 no-underline">Learn More</a>
    </div>
</div>

<!-- release info -->
<div class="mb4 bt b--white-20 tc lh-solid">
    <a href="https://www.nuget.org/packages/Falco" class="dib center ph1 ph4-l pv3 bg-merlot white no-underline ty--50" target="_blank">Latest release: 3.1.9 (December 6, 2021)</a>
</div>

<!-- benefits -->
<div class="cf tc lh-copy">    
    <div class="fl-l mw5 mw-none-l w-25-l center mb4 ph4-l br-l b--white-20">
        <img src="/icons/fast.svg" class="w4 o-90" />
        <h3 class="mv2 white">Blazing Fast</h3>
        <div class="mb3 white-90">Built on the high-performance primitives of ASP.NET.</div>
        <a href="https://web-frameworks-benchmark.netlify.app/result?l=fsharp" target="_blank" class="dib mh2 pa2 f6 white ba b--white br2 no-underline">Learn More</a>
    </div>    
    
    <div class="fl-l mw5 mw-none-l w-25-l center mb4 ph4-l br-l b--white-20">
        <img src="/icons/easy.svg" class="w4 o-90" />
        <h3 class="mv2 white">Easy to Learn</h3>
        <div class="mb3 white-90">Designed for getting up to speed quickly.</div>
        <a href="#getting-started" title="Learn how to get started using Falco" class="dib mh2 pa2 f6 white ba b--white br2 no-underline">Get Started</a>
    </div>    

    <div class="fl-l mw5 mw-none-l w-25-l center mb4 ph4-l br-l b--white-20">
        <img src="/icons/view.svg" class="w4 o-90" />
        <h3 class="mv2 white">Native View Engine</h3>
        <div class="mb3 white-90">Markup is written in F# and compiled.</div>
        <a href="#markup" title="View examples of Falco markup module" class="dib mh2 pa2 f6 white ba b--white br2 no-underline">See Examples</a>
    </div>    

    <div class="fl-l mw5 mw-none-l w-25-l center mb4 ph4-l">
        <img src="/icons/integrate.svg" class="w4 o-90" />
        <h3 class="mv2 white">Extensible</h3>
        <div class="mb3 white-90">Seamlessly integrates with existing libraries.</div>
        <a href="https://github.com/pimbrouwers/Falco/tree/master/samples/ScribanExample" target="_blank" title="Example of incorporating a third-party view engine" class="dib mh2 pa2 f6 white ba b--white br2 no-underline">Explore How</a>
    </div>    
</div>